<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.garai.starwars">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".NotifyActivity" />

        <receiver
            android:name=".Notifier"
            android:process=":remote" />

        <activity android:name=".SettingActivity" />
        <activity android:name=".FortuneActivity" />
        <activity android:name=".TopActivity"></activity>
    </application>

</manifest>